aiogram
aiohttp
anitopy
Pillow
psutil
hachoir
tgcrypto
pyrofork
motor
#https://github.com/pyrogram/pyrogram/archive/master.zip
dnspython
#git+https://github.com/KurimuzonAkuma/pyrogram.git
#git+https://github.com/Mayuri-Chan/pyrofork.git
#git+https://github.com/5hojib/Pyrogram.git
#pyromod
#electrogram
